<!DOCTYPE html>
<html>
  <head>
    <title>routeable</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="route-app"></div>
    <script src="/js/lib/require.min.js"></script>
    <script src="/js/config/requireConfig.js"></script>
    <script>
      require(["app"]);
    </script>
  </body>
</html>
