<!DOCTYPE html>
<html>
<head>
    <title>routeable</title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>

<div id="app">

    <div r-controller="App">

        <input r-model="model" />
        <p r-bind="model"></p>

    </div>

</div>


<script src="/js/src/R.js"></script>
<script>

    R.controller("App", function (scope, pageParams) {
        scope.set({
            "model": "test"
        });

        console.log(pageParams);

    });
    R.inject("App", "pageParams");
    R.bootstrap("#app", false);

</script>
</body>
</html>
